@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

* {
  margin: 0 auto;
}

.logo {
  width: 60px;
  padding: 10px;
}

.cabecalho {
  display: flex;
  background-color: rgb(150, 64, 64);
  justify-content:space-between;
  align-items: center;
  color: whitesmoke;
  width: 100%;
  
}

.link {
  color: whitesmoke;
  text-decoration: none;
  margin: 8px;
}

.link:hover {
  background-color: rgb(68, 63, 63);
  padding: 3px;
  border-radius: 10px;
}

p {
  margin-top: 20px;
}
.sessao-1 {
  background-image: url('/Clinica/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: rgb(150, 64, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  

}

.sessao-2 {
  margin-top: 70px;
  width: 70%;
}

.medica-foto {
    width: 300px;
}

.paragrafo-1{
    margin-top: 20px;
 }
.lista {
  margin-top: 50px;
  display: flex;
  width: 90%;
}

.lista1 {
  display: flex;
  flex-direction: column;
}

li {
  margin: 5px 0 5px 0 ;
}

.sessao-3 {
  margin-top: 50px;
}

.imagem-box {
  width: 300px;
}

.box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.box-1 {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(150, 64, 64) ;
  box-shadow: 0 0 10px 5px rgb(102, 97, 97) ;
  margin-top: 30px;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.horario {
  margin-top: 40px;
  color: black;
  background-color: rgb(150, 64, 64);
  width: 150px;
  padding: 15px;
}

.botao-horario {
  color: white;
}

.sessao-4 {
  margin-top: 50px;
  font-weight: bold;
}

.rodape-img {
  width: 50px;
  padding: 10px;
}

.rodape {
  display: flex;
  flex-direction: column;
  background-color: rgb(150, 64, 64) ;
  color: white;
}


@media (max-width: 425px) {
   p {
    font-size: 11px;
   }
   .cabecalho{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
   }
   .lista{
    display: flex;
    flex-direction: column;
   }
   .lista1 {
    margin-top: 20px;
   }
   .medica-foto{
    display: none;
  }
   
}

@media (min-width:426px) and (max-width: 768px) {
    .medica-foto{
      display: none;
    }

}